In [1]:
#student = "smit"
list1 = [1, 2, 3, 4]
list2 = [i**2 for i in list1]
print(list2)

[1, 4, 9, 16]

In [8]:
student

'smit'

In [9]:
student = "matt"

In [10]:
student

'matt'

In [11]:
student = "bob"

In [12]:
student

'bob'

In [13]:
a1 = 10

In [14]:
a1

10

In [15]:
type(a1)

int

In [16]:
b1 = True

In [17]:
b1

True

In [18]:
type(b1)

bool

In [19]:
a1 = "hello world"
a1

'hello world'

In [20]:
type(a1)

str

In [21]:
a1 = 3+4j
a1

(3+4j)

In [22]:
type(a1)

complex

In [23]:
#opretors:
#arithmetic opretors:
              #  +,- *,/,

In [24]:
a= 10
b=20

In [25]:
a,b

(10, 20)

In [26]:
a+b

30

In [27]:
a-b

-10

In [28]:
#relational opretor"
#,<,>,==,!=

In [29]:
a=50
b=100

In [30]:
a>b

False

In [31]:
a<b

True

In [32]:
 a==b

False

In [33]:
a!=b

True

In [34]:
#logical opretor:
   #and , or

In [35]:
a= True
b = False

In [36]:
a &a

True

In [37]:
a&b

False

In [38]:
b&a

False

In [39]:
b&b

False

In [40]:
a|b

True

In [41]:
b|a

True

In [42]:
b|b

False

In [43]:
a|a

True

In [44]:
#python keywords:

In [47]:
A =True

In [48]:
a

True

In [49]:
#python identifies:
student = 'smit'

In [50]:
student

'smit'

In [51]:
#python liternls:

a = 3.14

In [52]:
# python string:

In [53]:
str1 = ' this is my string'

In [54]:
str1

' this is my string'

In [55]:
str2= "this is my second string"

In [56]:
str2

'this is my second string'

In [57]:
str3= '''
smit
is 
python
student
'''

In [58]:
str3

'\nsmit\nis \npython\nstudent\n'

In [59]:
# extraction indiual character:

In [60]:
my_string="my name is  smit"

In [61]:
my_string[0]

'm'

In [62]:
my_string[-1]

't'

In [63]:
my_string[7:11]

' is '

In [64]:
len(my_string)

16

In [65]:
my_string.upper()

'MY NAME IS  SMIT'

In [66]:
my_string.replace('y','a')

'ma name is  smit'

In [67]:
my_string.count('i')

2

In [68]:
my_string.replace('is','are')

'my name are  smit'

In [69]:
s1 = 'this is sparta!!!'
s1.find('sparta')

8

In [70]:
fruit ='I like apples ,mangos ,bananas'
fruit.split(',')

['I like apples ', 'mangos ', 'bananas']

In [71]:
str_final = "president obama is the best president of united states"
str_final

'president obama is the best president of united states'

In [72]:
str_final.split('e')

['pr',
 'sid',
 'nt obama is th',
 ' b',
 'st pr',
 'sid',
 'nt of unit',
 'd stat',
 's']

In [73]:
#collction:

In [74]:
#tuple:

tup1=(1,True,3.14,5-7j)

In [75]:
tup1

(1, True, 3.14, (5-7j))

In [76]:
type(tup1)

tuple

In [77]:
tup1[0]

1

In [78]:
tup1[-1]

(5-7j)

In [79]:
tup1[0:2]

(1, True)

In [81]:
tup1[2]=["this is  sparta"]

TypeError: 'tuple' object does not support item assignment

In [82]:
 len(tup1)

4

In [83]:
tup1=(1,2,3)
tup2=(4,5,6)
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [84]:
tup1,tup2

((1, 2, 3), (4, 5, 6))

In [85]:
tup2+tup1

(4, 5, 6, 1, 2, 3)

In [86]:
tup1=91,2,'smit'
tup1*3

(91, 2, 'smit', 91, 2, 'smit', 91, 2, 'smit')

In [87]:
tup1*5 = tup2

SyntaxError: cannot assign to operator (3610909143.py, line 1)

In [88]:
min(tup1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [89]:
#list: [ ]

In [90]:
l1 = [1,'smit',3.14,True]

In [91]:
l1

[1, 'smit', 3.14, True]

In [92]:
type(l1)

list

In [93]:
l1[0]

1

In [94]:
l1[-1]

True

In [95]:
l1[1:3]

['smit', 3.14]

In [96]:
l1[0]=100
l1

[100, 'smit', 3.14, True]

In [97]:
l1.append(-87.99)
l1

[100, 'smit', 3.14, True, -87.99]

In [98]:
l1.pop()
l1

[100, 'smit', 3.14, True]

In [99]:
l1.reverse()
l1

[True, 3.14, 'smit', 100]

In [100]:
l1 = ['434',12,90,True,False]

In [101]:
l1.reverse()

In [102]:
 l1

[False, True, 90, 12, '434']

In [103]:
l1.insert(1,'hello')

In [104]:
l1

[False, 'hello', True, 90, 12, '434']

In [105]:
l1 = ['s','m','i','t']

In [106]:
l1.sort()

In [107]:
l1

['i', 'm', 's', 't']

In [108]:
l1=[1,2,3]
l2=['a','b','c']
l1+l2

[1, 2, 3, 'a', 'b', 'c']

In [109]:
l1 = [1,'a',True]
l1*3

[1, 'a', True, 1, 'a', True, 1, 'a', True]

In [110]:
#dictionary:

In [111]:
d1 = {"apple":10,"orenge":20,"banana":500}

In [112]:
d1

{'apple': 10, 'orenge': 20, 'banana': 500}

In [113]:
type(d1)

dict

In [114]:
d1.keys()

dict_keys(['apple', 'orenge', 'banana'])

In [115]:
d1.values()

dict_values([10, 20, 500])

In [116]:

d1

{'apple': 10, 'orenge': 20, 'banana': 500}

In [117]:
d1['mango']=5

In [118]:
d1

{'apple': 10, 'orenge': 20, 'banana': 500, 'mango': 5}

In [119]:
d1['banana']=50

In [120]:
d1

{'apple': 10, 'orenge': 20, 'banana': 50, 'mango': 5}

In [121]:
d1

{'apple': 10, 'orenge': 20, 'banana': 50, 'mango': 5}

In [122]:
d2 = {'watermelon': 1000,'grepes':750,'maskmeloon':850}
d2

{'watermelon': 1000, 'grepes': 750, 'maskmeloon': 850}

In [123]:
d1.update(d2)

In [124]:
d1

{'apple': 10,
 'orenge': 20,
 'banana': 50,
 'mango': 5,
 'watermelon': 1000,
 'grepes': 750,
 'maskmeloon': 850}

In [125]:
d1.pop('banana',"banan")

50

In [126]:
d1

{'apple': 10,
 'orenge': 20,
 'mango': 5,
 'watermelon': 1000,
 'grepes': 750,
 'maskmeloon': 850}

In [127]:
#set:

In [128]:
s1={1,2,'smit'}
s1

{1, 2, 'smit'}

In [129]:
s1={1,2.14,'smit',2,'smit'}
s1

{1, 2, 2.14, 'smit'}

In [130]:
s1.add(False)

In [131]:
s1

{1, 2, 2.14, False, 'smit'}

In [132]:
s1.update(['hello',56265,5+7j])

In [133]:
s1

{(5+7j), 1, 2, 2.14, 56265, False, 'hello', 'smit'}

In [134]:
s1={1,2,3,4,5,6,7,8}
s2={5,6}

In [135]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [136]:
s3 = {5,6,10}
s1.intersection(s3)

{5, 6}

In [137]:
#if____ statsment:

In [138]:
a=10

In [139]:
b=20

In [140]:
if a>b:
    print("B is greter than A")

In [141]:
if a>b:
    print("A is greter than A")
else:
    print("b is greter than A")

b is greter than A

In [142]:
a=10
b=20
c=30

In [143]:
if (a>b) & (a>c):
    print("A is the greatest")
elif (b>a) & (b>c):
    print("b is the greatest")
else:
    print("C is the greatest")

C is the greatest

In [144]:
# if with tuple:

In [145]:
tup1 = ('a','b','c')

In [146]:
if 'z'in tup1:
    print("value a is present in tup1")
else:
    print("value z is not present in tup1")

value z is not present in tup1

In [147]:
#if with list:

In [148]:
l1 = [ 'a','b','c']

In [149]:
if l1[1]=='b':
    l1[1]='z'

In [150]:
l1

['a', 'z', 'c']

In [151]:
# if with disctiony:

In [152]:
d1 = {'k1':10,'k2':20,'k3':30}

In [153]:
d1

{'k1': 10, 'k2': 20, 'k3': 30}

In [154]:
if d1['k3']==30:
    d1['k3']=d1['k3']+100

In [155]:
d1

{'k1': 10, 'k2': 20, 'k3': 130}

In [156]:
#looping statement:

#while:

In [157]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [158]:
i=1
n=500
while i <=20:
    print(n,'*',i,"=",n*i)
    i=i+1

500 * 1 = 500
500 * 2 = 1000
500 * 3 = 1500
500 * 4 = 2000
500 * 5 = 2500
500 * 6 = 3000
500 * 7 = 3500
500 * 8 = 4000
500 * 9 = 4500
500 * 10 = 5000
500 * 11 = 5500
500 * 12 = 6000
500 * 13 = 6500
500 * 14 = 7000
500 * 15 = 7500
500 * 16 = 8000
500 * 17 = 8500
500 * 18 = 9000
500 * 19 = 9500
500 * 20 = 10000

In [159]:
#while with list:

In [160]:
l1=[1,2,3,4,5]

In [161]:
i=0

In [162]:
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1

In [163]:
l1

[101, 102, 103, 104, 105]

In [164]:
# for loop:

In [165]:
l1= ['mango','apple', 'banana','orenge']

In [166]:
for i in l1:
    print(i)

mango
apple
banana
orenge

In [167]:
l1 = ['orenge', 'balck', 'white']
l2= ['book','laptop','chair']

In [168]:
for i in l1:
    for j in l2:
        print(i,j)

orenge book
orenge laptop
orenge chair
balck book
balck laptop
balck chair
white book
white laptop
white chair

In [169]:
# function:

In [170]:
def hello():
    print("hello world")

In [171]:
hello()

hello world

In [172]:
def add_10(x):
    return x+10

In [173]:
add_10(9)

19

In [174]:
add_10(5)

15

In [175]:
def odd_even(x):
    if x%2==0:
        print(x , "is even")
    else:
        print(x,"is odd")

In [176]:
odd_even(10)

10 is even

In [177]:
g=lambda x: x*x*x

In [178]:
g(5)

125

In [179]:
#lambda with filter:

In [180]:
l1=[87,56,90,34,2,5,7,98]

final_list=list(filter(lambda x:(x%2!=0),l1))

In [181]:
final_list

[87, 5, 7]

In [182]:
# lambda with map:

In [183]:
l1=[1,2,3,4,5,6,7,8,9]

In [184]:
list_final_new=list(map(lambda x: x*2,l1))

In [185]:
list_final_new

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [186]:
from functools import reduce

In [187]:
sum=reduce(lambda x,y:x+y,l1)

In [188]:
sum

45

In [180]:
#oop:

In [181]:
#class/object:

class Phone:
    def make_call(self):             #class
        print("i am making a call")
    def Play_game(self):
        print("i am playing game")

In [182]:
p1 =Phone()    #object

In [183]:
p1.make_call()

i am making a call

In [184]:
p1.Play_game()

i am playing game

In [185]:
class Phone:
    def set_color(self,color):
        self.color=color
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("make a call")
    def play_game(self):
        print("playing a game")

In [186]:
P2=Phone()

In [187]:
P2.set_color("blue")

In [188]:
P2.set_cost('5000')

In [189]:
P2.show_color()

'blue'

In [190]:
P2.show_cost()

'5000'

In [191]:
P2.make_call()

make a call

In [192]:
P2.play_game()

playing a game

In [193]:
#constructor:

In [194]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    def show_employee_details(self):
        print("name of employee is",self.name)
        print("age of employee is",self.age)
        print("salary of employee is",self.salary)
        print("gender of employee is",self.gender)

In [195]:
e1 = Employee('Smit',24,500000,'Male')

In [196]:
e1.show_employee_details()

name of employee is Smit
age of employee is 24
salary of employee is 500000
gender of employee is Male

In [197]:
#inheritencec:

In [198]:
class vehicle:
    def __init__(self,milleage,cost):
        self.milleage = milleage
        self.cost = cost
    def show_vehicle_details(self):
        print("millege of  vehicle is ",self.milleage)
        print("cost of vehicle is",self.cost)
        print("i am a  vehicle")

In [199]:
v1 = vehicle(300,500)

In [200]:
v1.show_vehicle_details()

millege of  vehicle is  300
cost of vehicle is 500
i am a  vehicle

In [201]:
class Car(vehicle):
    def show_car_details(self):
        print("i am a car")

In [202]:
c1 = Car(300,800)

In [203]:
c1.show_vehicle_details()

millege of  vehicle is  300
cost of vehicle is 800
i am a  vehicle

In [204]:
c1.show_car_details()

i am a car

In [205]:
#over riding init method:

In [206]:

class vehicle:
    def __init__(self,milleage,cost):
        self.milleage = milleage
        self.cost = cost
    def show_vehicle_details(self):
        print("millege of  vehicle is ",self.milleage)
        print("cost of vehicle is",self.cost)
        print("i am a  vehicle")

In [207]:
v1 = vehicle(300,500)

In [208]:
c1 = Car(600,100000,8,999)

TypeError: __init__() takes 3 positional arguments but 5 were given

In [209]:
c1.show_vehicle_details()

millege of  vehicle is  300
cost of vehicle is 800
i am a  vehicle

In [210]:
#muotiple inheritence:

In [211]:
class perent1:
    def assign_string_one(self,str1):
        self.str1=str1
    def show_string_one(self):
        return self.str1

In [212]:
class perent2:
    def assign_string_two(self,str2):
        self.str2=str2
    def show_string_two(self):
        return self.str2

In [213]:
class Child(perent1,perent2):
    def assign_string_three(self,str3):
        self.str3=str3
    def show_string_three(self):
        return self.str3

In [214]:
my_child = Child()

In [215]:
my_child.assign_string_one("i am string of perent 1")

In [216]:
my_child.assign_string_two("i am string of perent 2")

In [217]:
my_child.assign_string_three("i am string of child")

In [218]:
my_child.show_string_one()

'i am string of perent 1'

In [219]:
my_child.show_string_two()

'i am string of perent 2'

In [220]:
my_child.show_string_three()

'i am string of child'

In [221]:
#multi -leval inheritence:
#perent class-child class- garan chaild class

In [222]:
class perent:
    def get_name(self,name):
        self.name = name
    def show_name(self):
        return self.name

In [223]:
class child(perent):
    def get_age(self,age):
        self.age = age
    def show_age(self):
        return self.age

In [224]:
class Grandchild(child):
    def get_gender(self,gender):
        self.gender = gender
    def show_gender(self):
        return self.gender

In [225]:
gc = Grandchild()

In [226]:
gc.get_name("smit")

In [227]:
gc.get_age(21)

In [228]:
gc.get_gender("male")

In [229]:
gc.show_age()

21

In [230]:
gc.show_gender()

'male'

In [231]:
gc.show_name()

'smit'

In [2]:


order = {
"main": {1: ["Burger"], 2: ['"Steak"']},
"dessert": {1: ["Ice Cream"], 2: []},
}

In [4]:
print(order["main"][2])

['"Steak"']

In [6]:
print(order["main"][2][0])

"Steak"

In [8]:
def my_func(x):
    return x**2

print(my_func(3) + my_func(4))

25

In [9]:
a = 5
b = 3
print(a % b)

2

In [12]:
def foo(a, b=[]):
    b.append(a)
    return b

print(foo(1))
print(foo(2))
print(foo(3))

[1]
[1, 2]
[1, 2, 3]

In [13]:
s = 'ython'
x = "p".join(s)
print(x)

yptphpopn

In [2]:
s="mit"

TypeError: str.upper() takes no arguments (1 given)

In [1]:
st = "cake"
st = st.center(6, "+")
print(st)

+cake+

In [2]:
a = [1, 2, 3, 4, 5]
print(a[1:3])

[2, 3]

In [13]:
def print_alpha_nums (abc_list, num_list):
    for char in abc_list:
        for num in num_list:
            print(char, num)
    return
print_alpha_nums(['a','b','c'],[1,2,31])

a 1
a 2
a 31
b 1
b 2
b 31
c 1
c 2
c 31

In [16]:
num_list = [21,13, 19,3, 11,5, 18]
num_list.sort()
num_list[len(num list) // 21

SyntaxError: invalid non-printable character U+00A0 (2991568909.py, line 3)

In [17]:
5!=6

True

In [18]:
import math.sin

ModuleNotFoundError: No module named 'math.sin'; 'math' is not a package

In [19]:
from math import sin

In [20]:
__init()

NameError: name '__init__' is not defined

In [22]:
#  z=y.split(';')
# len(z)

NameError: name 'y' is not defined

In [3]:
def func(x):
    return 0 if x == 0 else x + func(x - 1)

print(func(4))

10

In [1]:
li = [10, 20, 10, '10', 20]
st = set(li)
print(len(st))

3

In [2]:
mylist = [1, 2, 3]
print(mylist[1:])

[2, 3]

In [1]:
l1 = [10]
l2 = [10]
print(l1 is l2)

False

In [2]:
s1 = "abc"
s2 = "abcdef"
print(s1.__contains__(s2))

False

In [3]:
L1 = []
L1.append([1, [2, 3], 4])

In [5]:
L1

[[1, [2, 3], 4]]

In [6]:
my_state = "illinois"
total = my_state.count("l") + my_state.find("i") + len(my_state) + my_state.index("o")
print(total)

15

In [2]:
def mystery(n):
    return n and (n % (mystery(n - 1) + 1) == 0)
print(mystery(6))

True

In [20]:
n=100
for i in range(i):
    print(n*2)

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

NameError: name 'a1' is not defined

In [49]:
n=6

for i in range(n):
    for j in range(1,i+1):
        print("*",end="")
    print()
    
for i in range(n):
    for j in range (1,i+1):
        print('*',end='')
    print()

*
**
***
****
*****

*
**
***
****
*****

In [50]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*