In [1]:
#set { }

#->

In [3]:
s={2,True,False,2,5,7}
s

{False, True, 2, 5, 7}

In [4]:
#add  value in set
s={2,True,False,2,5,7}
s.add('smit')
s

{2, 5, 7, False, True, 'smit'}

In [5]:
# discaer value in set 
s={2,True,False,2,5,7}
s.discard(2)
s

{False, True, 5, 7}

In [1]:
#remove value in set . (set vlue in not nuber to error)
s={2,True,False,2,5,7}
s.remove(2)
s

{False, True, 5, 7}

In [10]:
#update value for set

s={2,True,False,2,5,7}
s.update([2,3,43])
s

{False, True, 2, 3, 5, 7, 43}

In [12]:
#example. 

#write a program remove a dublicates items form a tuple.

name=('smit','parth',2,45,6,2)
name1=set(name)
name1

{2, 45, 6, 'parth', 'smit'}

In [15]:
#ans (tuple)

f=('mango','apple','orenge','orenge',[33,66,88],'mango')
l=list(f)
for i in  l:
    if l.count(i)>1:
        l.remove(i)
        
f=tuple(l)
f

('apple', 'orenge', [33, 66, 88], 'mango')