In [ ]:
#14/thu


#string function:

str1="learing python in tops"

str1.capitalize()

In [ ]:
#all words frist albabet is cepital.
str1="learning python in tops"

str1.title()

str1.count('i')
str1.endswith('tops')
str1.startswith('learning')

In [ ]:
#find function
str1="learning"

str1.find('ing')

In [ ]:
#split punction
str1='learning,python,in,tops'

str1.split(',')

In [ ]:
#join function
str1='learning python in tops'

'.'.join(str1)

In [ ]:
l1=['learning','python', 'in','tops']
' '.join(l1)

In [ ]:
#replece function.

str1='learning python in tops'
#ex
str1.replace('ing','abc')
#ex
str1.replace('i','a')
#ex
str1.replace('i','a',2)#first 2 word

In [ ]:
#string slicing:  [:],[::]


str1='python'
print(str1[1:3])

In [ ]:
#ex
str1='learning python in tops'
print(str1)
print(str[ : :-1])

In [ ]:
#string:  lower,upper,title,capitalizer
#lower() 
   #ex:
w="Smit Bhanderi"
n=w.lower()
print(n)
#upper()
   #ex:
w="smit bhanderi"
n=w.upper()
print(n)
#title()
  #ex
w="smit bhanderi"
n=w.title()
print(n)
#capitalize()
  #ex
w="smit bhanderi"
n=w.capitalize()
print(n)

In [ ]:
#string: find , index , isalpha(a,b,c,d,) ,isdigit(1,2,3,4),isalnum(a,1,b,2,c,3,d,4,)
#find:
w="smitbhanderi"
print(w.find('s'))
#index:
w="smitbhanderi"
print(w.index('e'))
#isalpa:
w="smitbhanderi"
print(w.isalpha())
#isdigit:
w="1345"
print(w.isdigit())
#isalnum:
w="smitbhanderi123"
print(w.isalnum())

In [ ]:
#16/july
#module 3:

#list=[],list('','',)
#tapple
#discnory
#set


#list

l1=[22,400.5,'jagruti',True,22]
l1[2]

In [ ]:
#ex;type
l1=[22,400.5,'jagruti',True,22]
type(l1[4])

In [ ]:
#ex: muteable changing
l1=[22,400.5,'jagruti',True,22]
l1[0]='rinkal'
l1

In [ ]:
#ex:etreshtion

l1=[22,400.5,'jagruti',True,22]

for i in l1:
    print(i)

In [ ]:
#ex :index wise
l1=[22,400.5,'jagruti',True,22]

for i in range(0,5):
    print(l1[i])

In [ ]:
#ex: value chack 
l1=[22,400.5,'jagruti',True,22]

num=400.5

if num in l1:
    print(True)

In [ ]:
#ex: list in list 
l1=[22,400.5,'jagruti',True,[44,66]]
l1[4]

In [ ]:
#2) opretion : l1.tab= all words

#ex: 1)append. (all one list)
l1=[22,400.5,'jagruti',True,[44,66]]
l1.append(56)

l1

In [ ]:
#2) .extend (add list in list)

l1=[22,400.5,'jagruti',True,[44,66]]
l1.extend(['a',45,99])

l1

In [ ]:
#3) .insert (add in nummber in words)

l1=[22,400.5,'jagruti',True,[44,66]]
l1.insert(2,False)

l1

In [ ]:
#4) .pop ()

l1=[22,400.5,'jagruti',True,[44,66]]
l1.pop(1)

l1

In [ ]:
#5) ..remove

l1=[22,400.5,'jagruti',True,[44,66]]
l1.remove(400.5)

l1

In [ ]:
#6) .copy

l1=[22,400.5,'jagruti',True,[44,66]]
l2=l1.copy()

l2

In [ ]:
#7) print(len(l1))

l1=[22,400.5,'jagruti',True,[44,66]]
print(len(l1))

l1

In [ ]:
#8) revrese

l1=[22,400.5,'jagruti',True,[44,66]]
l1.reverse()

l1

In [ ]:
#9) .sort  (Felse)

l1=[22,400.5,'jagruti',True,[44,66]]
l2=[56,89,23,17,77]

l2.sort()
l2

In [ ]:
#10) .sort(reverse=True)
l1=[22,400.5,'jagruti',True,[44,66]]
l2=[56,89,23,17,77]


l2.sort(reverse=True)
l2

In [ ]:
#  min globle functionn.

l2=[56,89,23,17,77]

print(min(l2))
l2

In [ ]:
l2=[56,89,23,17,77]

print(max(l2))
l2

In [ ]:
l1=[22,400.5,'jagruti',True,[44,66]]
l2=[56,89,23,17,77]

l2[-1]

In [ ]:
#ex: (h.w)
#write a python program taxt two lise it return true list one item is commen in the two list.

l1=[1,2,3,4,5,6,7,8,9]
l2=[2,3,4,5,6,7,8,9,0]

 list(l1,l2):
    result =False
    for i in l1:
        for j in l2:
            if i==j:
                result=Ture

In [ ]:
# #19\july
# li=10,"like","hello",20]
# def k_f_t(li):
#     from val in li:
#         if not isinstance(val,(int,float)):
#             li.remove(val)
#         return li

In [1]:
#19\july
# remove a two  string in list.
li=[10,"like","hello",20]
def k_f_t(li):
    for val in li:
        if not isinstance(val,(int,float)):
            li.remove(val)
        return li

In [2]:
k_f_t(li)

[10, 'like', 'hello', 20]

In [3]:
list(filter(lambda x:isinstance(x,(int,float)),li))

[10, 20]