In [2]:
#19/july

#ec

fruits=('mango','apple','orenge',[33,66,88])
fruits[3].append(10)
fruits

('mango', 'apple', 'orenge', [33, 66, 88, 10])

In [1]:
#tuple to change list convert.
fruits=('mango','apple','orenge',[33,66,88])
l=list(fruits)
l

['mango', 'apple', 'orenge', [33, 66, 88]]

In [ ]:
fruits=('mango','apple','orenge',[33,66,88])
l=list(fruits)
l.append(True)
fruits=tuple(l)
fruits

In [3]:
#example
#write a program remove a dublicates items form a tuple.


f=('mango','apple','orenge','orenge',[33,66,88],'mango')
l=list(f)
for i in  l:
    if l.count(i)>1:
        l.remove(i)
        
f=tuple(l)
f

('apple', 'orenge', [33, 66, 88], 'mango')

In [5]:
#example
#write a program convert list of charecter into a string.

name1=('p','y','t','h','o','n')
name2=''.join(name1)
name2

'python'