In [13]:
# piramid program.
# *              (while loop)
# * *
# * * *
# * * * *
# * * * * *

i=1
while i<=5:
      j=1
         while j<=i:
            print('*', end=' ')
            i=j+1
            print()
        i=i+1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 15)

In [4]:
# *         (fot rang)
# * *
# * * *
# * * * *
# * * * * *


for i in range(1,6):
    for j in range (1,i+1):
        print('*',end=' ')
    print()
    
for i in range(5,0,-1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#revesrs piramid
# * * * * *
# * * * * 
# * * * 
# * * 
# *
for i in range(5,0,-1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

In [16]:
#         *
#       * *
#     * * *
#   * * * *(
# * * * * * 

for i in range(1,6):
    for k in range(1,6-i):
        print(" ",end="")
    for j in range(1,i+1):
            print('*',end='')
    print("  ")

    *
   **
  ***
 ****
*****

In [ ]:
# * * * * *
# * * * *
# * * *
# * *
# *

for i  in range(5,0,-1):
    for k in range(1,5-i):
        print("",end="")
    for j in range(1,i+1):
        print('*',end=' ')
    print()

In [ ]:
# * * * * *
#   * * * *
#     * * *
#       * *
#         *

for i  in range(5,0,-1):
    for k in range(1,6-i):
        print("",end=" ")
    for j in range(1,i+1):
        print('*',end='')
    print( )

In [1]:
#     *
#    ***
#   *****
#  *******
# *********


for i  in range(1,6):
    for k in range(1,6-i):
        print(" ",end="")
    for j in range(1,(2*i-1)+1):
        print('1',end="")
    print()

    1
   111
  11111
 1111111
111111111

In [4]:
# *********
#  *******
#   *****
#    ***
#     *

for i  in range(5,0,-1):
    for k in range(1,6-i):
        print(" ",end="")
    for j in range(1,(2*i-1)+1):
        print('*',end="")
    print()

*********
 *******
  *****
   ***
    *

In [6]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

n=int(input("enter the number of rows needed:"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

enter the number of rows needed:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
# 1
# 2 1
# 3 2 1
# 4 3 2 1
# 5 4 3 2 1

n=int(input("enter the number of rows needed:"))
for i in range(n):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

enter the number of rows needed:5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [8]:
# 1
# 2 2
# 3 3 3
# 4 4 4 4
# 5 5 5 5 5 

n=int(input("enter the number of rows needed:"))
for i in range(n):
    for j in range(i,-1,-1):
        print(i+1,end=" ")
    print()

enter the number of rows needed:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [14]:
# 5 
# 4 4 
# 3 3 3 
# 2 2 2 2 
# 1 1 1 1 1 

n=int(input("enter the number of rows needed:"))
for i in range(n):
    for j in range(i+1):
        print(n-i,end=" ")
    print()

enter the number of rows needed:5
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [15]:
# 5 
# 5 4
# 5 4 3
# 5 4 3 2
# 5 4 3 2 1


n=int(input("enter the number of rows needed:"))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()

enter the number of rows needed:5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [121]:
n = 8; m = n+1
for i in range(n//2-1):
    for j in range(m):
        if i == n//2-2 and (j == 0 or j == m-1):
            print("*",end="  ")
        elif j <= m//2 and ((i+j == n//2-3 and j < m//4) or (j-i == m//2-n//2+3 and j >= m//4)):
            print("*",end=" ")
        elif j > m//2 and ((i+j == n//2-3+m//2 and j <= 3*m//4) or (j-i == m//2-n//2+3+m//2 and j >= 3*m//4)):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for i in range(n//2-1,n):
    for j in range (m):
        if(i-j == n//2-1) or (i+j == n-1+m//2):
            print('*',end=" ")
        elif i == n//2-1:
            if j == m//2-1 or j == m//2+1:
                print("",end=" ")
            elif j == m//2:
                print("LOVE",end="")
            else:
                print(" ",end=" ")
        else:
            print(" ",end=" ")
            
    print()

  *   *   *   *
*       *       *
*                *
*      LOVE     *
  *           *
    *       *
      *   *
        *

In [70]:
a=10

In [71]:
a

10

In [10]:
heart = "\n".join([''.join([('+-+-'[(x-y) % 4] if ((x*0.04)**2 + (y*0.1)**2 - 1)**3 - (x*0.04)**2 * (y*0.1)**3 <= 0 else ' ') for x in range(-30, 30)]) for y in range(15, -15, -1)])
print(heart)

            +-+-+-+-+-+               +-+-+-+-+-+
        -+-+-+-+-+-+-+-+-+-+     +-+-+-+-+-+-+-+-+-+-
     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
   -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
  -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
  -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
   +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
   -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
       +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
          -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
            +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
               +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
                  +-+-+-+-+-+-+-+-+-+-+-+-+
                     +-+-+-+-+-+-+-+-+-+
                         -+-+-+-+-+-
                            -+-+-
                              +

       banana

enter a number10

TypeError: can only concatenate str (not "int") to str